.add_roms{
   
}
.input {
    margin-left: 40px;
    width: 644px;
    height: 36px;
    background: #FFFFFF no-repeat padding-box;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    padding-left: 10px;
    opacity: 1;
}
.label_input {
    margin-top: 20px;
    margin-left: 40px;
    width: 41px;
    height: 19px;
    text-align: left;
    font-size: 14px;
    font-family: Semibold Open Sans;
    letter-spacing: 0px;
    color: #424242;
    opacity: 1;
}
.input_fultext{
    margin-left: 40px;
    width: 644px;
    height: 100px;
    background: #FFFFFF no-repeat padding-box;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    padding-left: 10px;
    opacity: 1;

}
.button_add{
    width: 177px;
    height: 42px;
    padding: 12px 75px 11px;
    margin-left: 223px;
    border-radius: 4px;
    background-color: #532057;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
  }
