body {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  
    min-height: 100vh;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }
  
  .text-small {
    font-size: 1.4rem;
}
  
.messages-box, .chat-box {
  height: 66vh;
  overflow-y: scroll;
}
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }









  #fountainTextG{
    width:132px;
    margin:auto;
  }
  
  .fountainTextG{
    color:rgba(0,0,0,0.25);
    font-family:Arial;
    font-size:14px;
    text-decoration:none;
    font-weight:normal;
    font-style:normal;
    float:left;
    animation-name:bounce_fountainTextG;
      -o-animation-name:bounce_fountainTextG;
      -ms-animation-name:bounce_fountainTextG;
      -webkit-animation-name:bounce_fountainTextG;
      -moz-animation-name:bounce_fountainTextG;
    animation-duration:1.361s;
      -o-animation-duration:1.361s;
      -ms-animation-duration:1.361s;
      -webkit-animation-duration:1.361s;
      -moz-animation-duration:1.361s;
    animation-iteration-count:infinite;
      -o-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
      -webkit-animation-iteration-count:infinite;
      -moz-animation-iteration-count:infinite;
    animation-direction:normal;
      -o-animation-direction:normal;
      -ms-animation-direction:normal;
      -webkit-animation-direction:normal;
      -moz-animation-direction:normal;
    transform:scale(.5);
      -o-transform:scale(.5);
      -ms-transform:scale(.5);
      -webkit-transform:scale(.5);
      -moz-transform:scale(.5);
  }#fountainTextG_1{
    animation-delay:0.4825s;
      -o-animation-delay:0.4825s;
      -ms-animation-delay:0.4825s;
      -webkit-animation-delay:0.4825s;
      -moz-animation-delay:0.4825s;
  }
  #fountainTextG_2{
    animation-delay:0.589s;
      -o-animation-delay:0.589s;
      -ms-animation-delay:0.589s;
      -webkit-animation-delay:0.589s;
      -moz-animation-delay:0.589s;
  }
  #fountainTextG_3{
    animation-delay:0.6855s;
      -o-animation-delay:0.6855s;
      -ms-animation-delay:0.6855s;
      -webkit-animation-delay:0.6855s;
      -moz-animation-delay:0.6855s;
  }
  #fountainTextG_4{
    animation-delay:0.782s;
      -o-animation-delay:0.782s;
      -ms-animation-delay:0.782s;
      -webkit-animation-delay:0.782s;
      -moz-animation-delay:0.782s;
  }
  #fountainTextG_5{
    animation-delay:0.8785s;
      -o-animation-delay:0.8785s;
      -ms-animation-delay:0.8785s;
      -webkit-animation-delay:0.8785s;
      -moz-animation-delay:0.8785s;
  }
  #fountainTextG_6{
    animation-delay:0.975s;
      -o-animation-delay:0.975s;
      -ms-animation-delay:0.975s;
      -webkit-animation-delay:0.975s;
      -moz-animation-delay:0.975s;
  }
  #fountainTextG_7{
    animation-delay:1.0715s;
      -o-animation-delay:1.0715s;
      -ms-animation-delay:1.0715s;
      -webkit-animation-delay:1.0715s;
      -moz-animation-delay:1.0715s;
  }
  #fountainTextG_8{
    animation-delay:1.168s;
      -o-animation-delay:1.168s;
      -ms-animation-delay:1.168s;
      -webkit-animation-delay:1.168s;
      -moz-animation-delay:1.168s;
  }
  #fountainTextG_9{
    animation-delay:1.2645s;
      -o-animation-delay:1.2645s;
      -ms-animation-delay:1.2645s;
      -webkit-animation-delay:1.2645s;
      -moz-animation-delay:1.2645s;
  }
  #fountainTextG_10{
    animation-delay:1.361s;
      -o-animation-delay:1.361s;
      -ms-animation-delay:1.361s;
      -webkit-animation-delay:1.361s;
      -moz-animation-delay:1.361s;
  }
  
  
  
  
  @keyframes bounce_fountainTextG{
    0%{
      transform:scale(1);
      color:rgb(0,0,0);
    }
  
    100%{
      transform:scale(.5);
      color:rgb(255,255,255);
    }
  }
  
  @-o-keyframes bounce_fountainTextG{
    0%{
      -o-transform:scale(1);
      color:rgb(0,0,0);
    }
  
    100%{
      -o-transform:scale(.5);
      color:rgb(255,255,255);
    }
  }
  
  @-ms-keyframes bounce_fountainTextG{
    0%{
      -ms-transform:scale(1);
      color:rgb(0,0,0);
    }
  
    100%{
      -ms-transform:scale(.5);
      color:rgb(255,255,255);
    }
  }
  
  @-webkit-keyframes bounce_fountainTextG{
    0%{
      -webkit-transform:scale(1);
      color:rgb(0,0,0);
    }
  
    100%{
      -webkit-transform:scale(.5);
      color:rgb(255,255,255);
    }
  }
  
  @-moz-keyframes bounce_fountainTextG{
    0%{
      -moz-transform:scale(1);
      color:rgb(0,0,0);
    }
  
    100%{
      -moz-transform:scale(.5);
      color:rgb(255,255,255);
    }
  }

      /* .container{
        max-width: 767px; 
         margin:100px auto 0
    }
    .container .dropzone{
        border: 2px dashed blue;
    } */

    .dropbtn {
      background-color: #04AA6D;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    .dropbtn:hover, .dropbtn:focus {
      background-color: #3e8e41;
    }
    
    #myInput {
      box-sizing: border-box;
      background-image: url('searchicon.png');
      background-position: 14px 12px;
      background-repeat: no-repeat;
      font-size: 16px;
      padding: 14px 20px 12px 45px;
      border: none;
      border-bottom: 1px solid #ddd;
    }
    
    #myInput:focus {outline: 3px solid #ddd;}
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f6f6f6;
      min-width: 230px;
      overflow: auto;
      border: 1px solid #ddd;
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown a:hover {background-color: #ddd;}
    
    .show {display: block;}
    
        .user_img{
          height: 70px;
          width: 70px;
          border:1.5px solid #f5f6fa;
        
        }
        .user_img_msg{
          height: 40px;
          width: 40px;
          border:1.5px solid #f5f6fa;
        
        }
      .img_cont{
          position: relative;
          height: 70px;
          width: 70px;
      }