<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://kit.fontawesome.com/ffd405fbe4.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/style_schedule.css' %}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="popup">
            <div class="popup_block">
                <div class="popup_head">
                    <div class="popup_name">
                        <h2>View Payment</h2>
                    </div>
                    <div class="popup_x">
                        <i class="popup_close">&#10005</i>
                    </div>
                </div>
                <div class="popup_choose">
                    <a href="../../../Payment Schedule.html">
                        <p>Payment Schedule</p>
                    </a>
                    <a href="Actual Payments.html">
                        <p>Actual Payment</p>
                    </a>
                </div>
                <hr color="silver">
                <div class="contract_date">
                    <i class="far fa-clock"></i>
                    <span>Contract date</span>
                    <div class="date">
                        <p>16.07.2020-26.09.2020</p>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <th>Date</th>
                        <th>Paid amount</th>
                        <th>Sale (%)</th>
                        <th>Final amount</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12.08.2020</td>
                            <td>40 000 դ</td>
                            <td>0 %</td>
                            <td>40 000 դ</td>

                        </tr>

                        <tr>
                            <td>12.08.2020</td>
                            <td>40 000 դ</td>
                            <td>0 %</td>
                            <td>40 000 դ</td>

                        </tr>

                        <tr>
                            <td>12.08.2020</td>
                            <td>40 000 դ</td>
                            <td>0 %</td>
                            <td>40 000 դ</td>

                        </tr>

                        <tr>
                            <td>12.08.2020</td>
                            <td>40 000 դ</td>
                            <td>0 %</td>
                            <td>40 000 դ</td>

                        </tr>

                        <tr>
                            <td>12.08.2020</td>
                            <td>40 000 դ</td>
                            <td>0 %</td>
                            <td>40 000 դ</td>

                        </tr>

                    </tbody>
                </table>
                <div class="total">
                    <span>Total Payment</span>
                    <h2>200 000 AMD</h2>
                </div>

            </body>
        </html>